<% layout('layouts/mainTemplate') %>
<link href="/css/table.css" rel="stylesheet">
<link href="/css/button.css" rel="stylesheet">

<div class="row">
    <div class="col-6">
            <h5 class="card-title textWhite">Cart:</h5>
        <div class="card-body">
            <% if(user.products.length === 0) { %>
                <h6 class="textWhite">Hi <%=user.username%>, your cart is currently empty. Browse through our assortment of technologies using the navbar above. <% } %>
            <% for (let product of user.products){ %>
                <div class="col-4 card mb-4">
                <h6><%=product.name%></h6>
                <h6><%=product.price%></h6>
                <img src="<%=product.image.url%>">
            </div>
            <% } %>
        </div>
        <div class="card-footer">
            <%=user.products.length%> items
        </div>
        </div>
        <% if(user.products.length >=1) { %>
        <div class="offset-1 col-5 whiteText display-flex align-items-center">
            <br><br>
            <% let i=0; for(let product of user.products){i+=product.price} %>
                <h6 class="textWhite">Total (tax included): <span>$<%=(i*1.13).toFixed(2)%></span></h6>
                <h6 class="textWhite">Enter your desired shipment address and continue to checkout!</h6>
            <form action="/techroom/create-session" method="POST" novalidate class="validated-form">
                <br>
                <p>
                <label for="streetAddress" class="form-label">Street Address</label>
                <input class='ml-0 mb-3'type="text" name="streetAddress" id="streetAddress">
                </p>
                <br>
                <p>
                <label for="city" class="form-label">City</label>
                <input class='mb-3'type="text" name="city" id="city">
            </p>
                <br>
                <p>
                <label for="postalCode" class="form-label">Postal Code</label>
                <input class='mb-3'type="text" name="postalCode" id="postalCode">
            </p>
                <br>
                <p>
                <label for="country" class="form-label">Country</label>
                <input class='mb-3' type="text" name="country" id="country">
            </p>
            <br>
            <button class="btn-grad">Pay via Stripe</button>
            </form>
        </div>
    </div>
</div>
<% } %>

