<% layout('layouts/mainTemplate') %>
<link href="/css/button.css" rel="stylesheet">
<link href="/css/titles.css" rel="stylesheet">

<% if (page === 'phones') { %>
    <h1 style='text-align: center; color:white'class="mb-3">Phones</h1>
    <% } %>

    <% if (page === 'laptops') { %>
    <h1 style='text-align: center; color:white'class="mb-3">Laptops</h1>
    <% } %>
    
    <% if (page === 'tablets') { %>
    <h1 style='text-align: center; color:white'class="mb-3">Tablets</h1>
     <% } %>
    
    <% if (page === 'accessories') { %>
    <h1 style='text-align: center; color:white'class="mb-3">Accessories</h1>
    <% } %>
<br>
<!-- Creating card-inline utility -->
    <% let k=0%>
        <div class="container mt-3">
            <% for(let j=0; j<products.length; j++){ %>
                <div class="row gy-6">
            <% for(let l=0; l<3; l++) { %>
                <% if(k<products.length) { %>
                    <div class="col-md-4">
                        <div class="card h-100" style="background-color: rgb(246, 246, 246)">
                            <img style='height:250px; width:250px'src="<%=products[k].image.url%>" class= "center card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title fw-bold"><%=products[k].name%></h5>
                                <p>Price: <%=products[k].price%></p>
                                <p class="card-text"><% if (products[k].productQuantity > 10){ %>
                                    <p class="text-success">In stock</p>
                                    <% } else {%>
                                        <p class="text-success"><b>Only <%=products[k].productQuantity%> units left</b></p>
                                        <% } %>
                                    <p><%=products[k].description.slice(0,30)%>...</p>
                                        <form action="/techroom/<%=page%>/<%=products[k]._id%>" method="GET">
                                            <button class="btn-grad1">Details</button>
                                        </form>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
                    <% k+=1 %>
                    <% } %>
                </div>
                    <br>
                <% } %>
                
    <% if(currUser && user.permission) { %>
    <form clas='mb-2 mt-0' action="/techroom/<%=page%>/new" method="GET">
        <button class="mb-5 btn btn-success">Add to <%=page%> collection</button>
    </form>
    <% } %>