<% layout('layouts/mainTemplate') %>
    <% if (page === 'phones') { %>
    <h1>PHONES</h1>
    <% } %>

    <% if (page === 'laptops') { %>
    <h1>LAPTOPS</h1>
    <% } %>
    
    <% if (page === 'tablets') { %>
    <h1>TABLETS</h1>
     <% } %>
    
    <% if (page === 'accessories') { %>
    <h1>ACCESSORIES</h1>
    <% } %>

    <% for (let product of products){ %>
        <h2>Item: <%=product.name%></h2>
        <% if (product.productQuantity > 10){ %>
        <h2>In stock</h2>
        <% } else {%>
        <h2>Only <%=product.productQuantity%> units left</h2>
        <% } %>
        <h2>Price: <%=product.price%></h2>
        <a href="/techroom/<%=page%>/<%=product._id%>" class="btn btn-primary">View Product</a>
    <% } %>

    <a href = '/techroom/<%=page%>/new'>Add Product</a>
