<% layout('layouts/mainTemplate') %>
<link href="/css/button.css" rel="stylesheet">

    <% if (page === 'phones') { %>
    <h1 class="mb-3">PHONES</h1>
    <% } %>

    <% if (page === 'laptops') { %>
    <h1 class="mb-3">LAPTOPS</h1>
    <% } %>
    
    <% if (page === 'tablets') { %>
    <h1 class="mb-3">TABLETS</h1>
     <% } %>
    
    <% if (page === 'accessories') { %>
    <h1 class="mb-3">ACCESSORIES</h1>
    <% } %>

<!-- Creating card-inline utility -->
    <% let k=0%>
        <div class="container mt-3">
            <% for(let j=0; j<products.length; j++){ %>
                <div class="row gy-6">
            <% for(let l=0; l<3; l++) { %>
                <% if(k<products.length) { %>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-14-pro-deeppurple-witb-202209_FMT_WHH?wid=560&hei=744&fmt=jpeg&qlt=90&.v=1660789320263" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title fw-bold"><%=products[k].name%></h5>
                               
                                <p class="card-text"><% if (products[k].productQuantity > 10){ %>
                                    <p class="text-success">In stock</p>
                                    <% } else {%>
                                        <p class="text-success">Only <%=products[k].productQuantity%> units left</p>
                                        <% } %>
                                        <p>Price: <%=products[k].price%></p>
                                        <form action="/techroom/<%=page%>/<%=products[k]._id%>" method="GET">
                                            <button class="btn-grad1">Details</button>
                                        </form>

                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
                    <% k+=1 %>
                    <% } %>
                </div>
                    <br>
                <% } %>
    <% if(currUser && user.permission) { %>
    <form clas='mb-3' action="/techroom/<%=page%>/new" method="GET">
        <button class="mb-5 btn btn-success">Add an item for sale</button>
    </form>
    <% } %>