<% layout('layouts/mainTemplate') %>
    <% if (page === 'phones') { %>
    <h1 class="mb-3">PHONES</h1>
    <% } %>

    <% if (page === 'laptops') { %>
    <h1 class="mb-3">LAPTOPS</h1>
    <% } %>
    
    <% if (page === 'tablets') { %>
    <h1 class="mb-3">TABLETS</h1>
     <% } %>
    
    <% if (page === 'accessories') { %>
    <h1 class="mb-3">ACCESSORIES</h1>
    <% } %>

<!-- Creating card-inline utility -->
    <% let i=0; let k=0;%>
        <% if(products.length%2===1){i=(products.length/2)} else i=products.length/2 %>
        <div class="container mt-3">
            <% for(let j=0; j<i-1; j++){ %>
                
                    <div class="row gy-6">
                        <div class="col-sm">
                            <div class="card h-100">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold"><%=products[k].name%></h5>
                                    <% console.log(k) %>
                                    <p class="card-text"><% if (products[k].productQuantity > 10){ %>
                                        <p>In stock</p>
                                        <% } else {%>
                                            <p>Only <%=products[k].productQuantity%> units left</p>
                                            <% } %>
                                            <p>Price: <%=products[k].price%></p>
        <a href="/techroom/<%=page%>/<%=products[k]._id%>" class="btn btn-primary">View Product</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% k+=1 %>
                        <div class="col-sm">
                            <div class="card h-100">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold"><%=products[k].name%></h5>
                                    <% console.log(k) %>
                                    <p class="card-text"><% if (products[k].productQuantity > 10){ %>
                                        <p>In stock</p>
                                        <% } else {%>
                                            <p>Only <%=products[k].productQuantity%> units left</p>
                                            <% } %>
                                            <p>Price: <%=products[k].price%></p>
        <a href="/techroom/<%=page%>/<%=products[k]._id%>" class="btn btn-primary">View Product</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                <% k+=1 %>
                <% } %>
                <div class="row gy-6">
                    <div class="col-sm col-md-6">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title fw-bold"><%=products[k].name%></h5>
                                <% console.log(k) %>
                                <p class="card-text"><% if (products[k].productQuantity > 10){ %>
                                    <p>In stock</p>
                                    <% } else {%>
                                        <p>Only <%=products[k].productQuantity%> units left</p>
                                        <% } %>
                                        <p>Price: <%=products[k].price%></p>
    <a href="/techroom/<%=page%>/<%=products[k]._id%>" class="btn btn-primary">View Product</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% k+=1 %>
                    <% if(products.length/2===0) { %>
                    <div class="col-sm col-md-6">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title fw-bold"><%=products[k].name%></h5>
                                <% console.log(k) %>
                                <p class="card-text"><% if (products[k].productQuantity > 10){ %>
                                    <p>In stock</p>
                                    <% } else {%>
                                        <p>Only <%=products[k].productQuantity%> units left</p>
                                        <% } %>
                                        <p>Price: <%=products[k].price%></p>
    <a href="/techroom/<%=page%>/<%=products[k]._id%>" class="btn btn-primary">View Product</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <br><br>
        </div>
        <a href = '/techroom/<%=page%>/new'>Add Product</a>
